<div class="container-fluid top-nav">


  <nav class="navbar navbar-expand-lg ">
    <a class="navbar-brand for-nav ">AV MobileStore</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link for-nav" routerLink="/product-gallery">Products</a>
        </li>
  
       
        <li class="nav-item">
          <a class="nav-link for-nav" routerLink="/product-cart">Cart</a>
        </li>
        
      </ul>
      <div class="my-2 my-lg-0">
        <button (click)="onLogout()" class="btn btn-outline-success my-2 my-sm-0">Logout</button>
      </div>
    </div>
  </nav>
  
  </div>
  
<div class="px-4 px-lg-0">
   
    <section class="jumbotron text-center" style="background-color: #ff4c68;">
        <div class="container">
            <h1 class="jumbotron-heading" style="color: white;">MY CART</h1>
         </div>
      </section>
  
    <div class="pb-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">
  
          
            <div class="table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col" class="border-0 bg-light">
                      <div class="p-2 px-3 text-uppercase">Product</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Price</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Quantity</div>
                    </th>
                    <th scope="col" class="border-0 bg-light">
                      <div class="py-2 text-uppercase">Remove</div>
                    </th>
                   
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let p of arr" >
                    
                    
                    <td><img src="data:image/png;base64,{{p.product.imageFile}}" style="width:70px; height:70px"></td>
                        <td ><strong>{{p.product.proPrice}}</strong></td>
                        <td ><strong>1</strong></td>
                        <td><button (click)="updateQuantity(p.id)" style="background-color: tomato;">
                          <i class="fas fa-trash"></i> 
                        </button></td>
                   
                    
                    
                  </tr>
                  
                </tbody>
              </table>
            </div>
            
          </div>
        </div>
  
        <div class="row py-5 p-4 bg-white rounded shadow-sm">
          <div class="col-lg-6">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Coupon code</div>
            <div class="p-4">
              <p class="font-italic mb-4">If you have a coupon code, please enter it in the box below</p>
              <div class="input-group mb-4 border rounded-pill p-2">
                <input type="text" placeholder="Apply coupon" aria-describedby="button-addon3" class="form-control border-0">
                <div class="input-group-append border-0">
                  <button id="button-addon3" type="button" class="btn btn-dark px-4 rounded-pill"><i class="fa fa-gift mr-2"></i>Apply coupon</button>
                </div>
              </div>
            </div>
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Instructions for seller</div>
            <div class="p-4">
              <p class="font-italic mb-4">If you have some information for the seller you can leave them in the box below</p>
              <textarea name="" cols="30" rows="2" class="form-control"></textarea>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
            <div class="p-4">
              <p class="font-italic mb-4">Shipping and additional costs are calculated based on values you have entered.</p>
              <ul class="list-unstyled mb-4">
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Order Subtotal </strong><strong>{{totalPrice}}</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Shipping and handling</strong><strong>0.00</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Tax</strong><strong>0.00</strong></li>
                <li class="d-flex justify-content-between py-3 border-bottom"><strong class="text-muted">Total</strong>
                  <h5 class="font-weight-bold">{{totalPrice}}</h5>
                </li>
              </ul>
              <div class="col mb-2">
                  <div class="row">
                      <div class="col-sm-12  col-md-6">
                          <button  (click)="onPlaceOrder()" class="btn btn-block btn-light">Continue Shopping</button>
                      </div>
                      <div class="col-sm-12 col-md-6 text-right">
                          <button (click)="onCheckout()" class="btn  btn-block btn-success" >Checkout</button>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
  
      </div>
    </div>
  </div>



