
<div class="container-fluid" style="background: #393b44; padding:20px ;margin-top: 10px;">
    <div class="row">
     <div class="col-sm-4">
       <img src="/assets/logo.png" class="img-responsive"><br>
       <p style="color:white">AV-Mobiles pushes you to try new things without burning your eyes over internet. 
         You can choose the best phone suited at your budget just with in few clicks, it impowers you to be the smart. It gives you the full freedom to choose any of the phone you like. You can easily add or remove it from the cart as whenever you want go buy it. It provides the easy returns policy so, you don’t have to be worried about it.</p>
     </div>
     <div class="col-sm-4">
       <h3 style="color:white">Quick Links</h3>
       <ul style="margin:0; padding:0; color:white; list-style:none">
         <li><a href="" class="btn btn-outline-info">&raquo;Home</a></li><br>
         <li><a href="" class="btn btn-outline-info">&raquo;About Us</a></li><br>
         <li><a href="" class="btn btn-outline-info">&raquo;Contact Us</a></li><br>
         <li><a href="" class="btn btn-outline-info">&raquo;Profile</a></li><br>
         
       </ul>
     </div>
     <div class="col-sm-4">
       <h3 style="color:white">Contact Details</h3>
       <p style="color:white"><strong>Address:</strong>South Extension, New Delhi(India)</p>
       <p style="color:white"><strong>Phone:</strong>(+91)8077274179</p>
       <p style="color:white"><strong>Email:</strong>avmobiles@gmail.com</p>
     </div>
   </div>
   </div>
  <section class="colored-section" id="cta">
  
    <div class="container-fluid">
  
      <h3 class="big-heading">Find Your True Companion Of Life Today.</h3>
      <button class="download-button btn btn-lg btn-dark" type="button"><i class="fab fa-apple"></i> Download</button>
      <button class="download-button btn btn-lg brn-light" type="button"><i class="fab fa-google-play"></i> Download</button>
    </div>
  </section>
  <footer class="white-section" id="footer">
    <div class="container-fluid">
      <i class="social-icon fab fa-facebook-f"></i>
      <i class="social-icon fab fa-twitter"></i>
      <i class="social-icon fab fa-instagram"></i>
      <i class="social-icon fas fa-envelope"></i>
      <p>© Copyright 2021 AV-Mobiles</p>
    </div>
  </footer>
  
