<div class="container">
    <div class="row">
      <div class="col-sm-5">
        <!-- <img src="Images/logo.jpg" style="margin-left: 1px" > -->
      </div>
      <div class="col-sm-7 my_menu" style="margin-top:30px;">
        <nav class="navbar navbar-default" style="background: none; border: none;">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav">
              <span class="icon-bar"></span>
            </button>
          </div>
          <div class="collapse navbar-collapse" id="nav">
        <ul class="nav navbar-nav pull-right">
          <li class="active"><a routerLink="/home" style="background:black; color:white;">Home</a></li>
          <li><a routerLink="/aboutus">About Us</a></li>
          <li><a routerLink='/information'>Information</a></li>
          <li><a routerLink="/login">Login</a></li>
          <li><a routerLink="/signup">Signup</a></li>
          <li><a routerLink="userspace/cart">Cart</a></li>
          <li><a routerLink="/logout">Logout</a></li>
        </ul>
      </div>
      </nav>
      
          
      </div>
    </div>
  </div>